---
permalink: /about/
title: "關於三星蔥的故事：傳承與創新"
layout: splash
header:
    overlay_color: "#0095a9"
    overlay_filter: "0.5"

intro_1:
    - image_path: /assets/images/c9y6c-74nnx.png
      title: '三星蔥，來自宜蘭三星鄉，是這片富饒土地的瑰寶'
      excerpt: '這裡得宜的氣候、充沛的雨量，與蘭陽溪所帶來的肥沃養分與純淨水源，為蔥的生長提供了最理想的環境。三星蔥的蔥白部分肥厚、清脆帶甜，蔥綠則鮮嫩多汁，散發出獨特的香氣。這些獨特的風味，無論是作為配料還是主角，都能為料理增添層次感，成為不可或缺的美味。三星蔥的風味隨著季節變化而各具特色。春季，蔥質地柔嫩，風味清新；夏季，蔥帶有清爽的辛香；而在寒冷的冬季，經過水氣的洗禮，讓蔥的甜度和香氣達到巔峰，蔥白更為肥美，蔥綠則厚實多汁，成為饕客們最愛的時令蔥。無論四季如何變遷，三星蔥始終以其獨特的美味與高品質，深受喜愛。我們的三星蔥不僅口感絕佳，其營養價值同樣不可小覷。蔥綠富含維生素A、C、B1等營養成分，有助於增強免疫力和維持健康；蔥白則富含硫化物，能促進消化，改善血液循環，甚至於民俗技藝中舒緩感冒所帶來的不適和疲勞。從蔥白到蔥綠，每一部分都被充分利用，成為美味與健康的雙重保障。'
intro_2:
    - image_path: /assets/images/c9y6c-74nnx.png
      title: "傳承與創新：和賜居農業科技的水耕農法"
      excerpt: 作為專注於三星蔥栽培的農業科技公司，我們不僅致力於保護和傳承三星蔥的品質，更在栽培方法上不斷創新。我們透過運用先進的水耕法，突破傳統土壤栽培的連做限制，為蔥的生長創造了更精確的環境控制減少氣候與蟲害的影響。水耕法讓我們能夠精確調控養分、溫度與濕度，使蔥在最適合的條件下生長，提升品質的穩定性並減少對環境的負擔。這不僅是提升農產品品質的技術創新，也是推動農業永續發展的重要步驟。水耕栽培不僅有效減少了農藥的使用，還能更高效地利用水資源，減少對土地的依賴，實現永續發展的目標。
intro_3:
    - image_path: /assets/images/c9y6c-74nnx.png
      title: '設施栽培：穩定供應與提升作物韌性'
      excerpt: 透過設施栽培，我們得以穩定供應三星蔥，有效降低極端氣候對作物的影響，減少蟲害和病害的威脅，並創造出一個更穩定、安全的生長環境。這不僅提升了作物的品質，還顯著增強了種植的韌性，使得三星蔥能夠在各種環境下持續穩定地生長。這樣的栽培方式能夠確保我們全年穩定供應高品質的三星蔥，無論外界氣候如何變化，均能保持產品的一致性與美味。這也是我們致力於抵抗極端氣候的一部分，將科技創新與傳統農業結合，為未來的農業發展奠定堅實的基礎。
intro_4:
    - image_path: /assets/images/c9y6c-74nnx.png
      title: '三星蔥的品種與栽培方法'
      excerpt: 我們選用純化與完成病毒篩檢後的安全種子，進行培育與種植，降低種苗弱化的風險，也提升種植的穩定。這些蔥種在水耕環境下生長，完整的保留了青蔥的精華，充分展現其天然的甜美與香氣。每一根三星蔥，無論是蔥白還是蔥綠，都蘊含著我們對品質的堅持與追求。此外，我們的栽培過程完全遵循可持續農業原則，嚴格控制農藥與肥料的使用，確保蔥的生長過程安全無害。我們將每一項技術與經驗積累到對蔥的栽培中，從日常管理到細節調整，確保每一根蔥達到最優質的狀態。
intro_5:
    - image_path: /assets/images/c9y6c-74nnx.png
      title: '三星蔥，來自宜蘭的純粹美味'
      excerpt: 我們堅信，三星蔥的美味與品質來自於上天的恩賜，來自於我們對農業的熱情與專業，也來自於我們對創新與永續發展的追求。在和賜居農業科技，我們的三星蔥不僅保留了傳統的風味，還通過創新的農法和設施栽培，為顧客提供更加穩定與具有韌性的產品。每一根三星蔥，都是我們對品質的承諾，都是大自然與科技的結晶。我們希望，通過這份來自宜蘭的純粹美味，能夠讓更多人感受到健康與幸福，並讓三星蔥的故事繼續傳遞下去。
---
<main>
    <section>
        {% include feature_row id="intro_1" type="left" %}
    </section>
    <section>
        {% include feature_row id="intro_2" type="right" %}
    </section>
    <section>
        {% include feature_row id="intro_3" type="left" %}
    </section>
    <section>
        {% include feature_row id="intro_4" type="right" %}
    </section>
    <section>
        {% include feature_row id="intro_5" type="left" %}
    </section>
</main>