---
permalink: /about/
title: "About"
layout: splash
header:
    overlay_color: "#0095a9"
    overlay_filter: "0.5"
    overlay_image: /assets/images/unsplash-image-1.jpg

intro_1:
    - image_path: /assets/images/c9y6c-74nnx.png
      title: "三星蔥"
      excerpt: '台灣所栽培的青蔥品種主要有三種：北蔥、粉蔥以及四季蔥。三星主要的栽培品種以日蔥為主。此蔥種質地柔軟纖維較少，味道獨特甘甜且不嗆辣，廣受喜愛。'
how:
    - image_path: /assets/images/c9y6c-74nnx.png
      title: "水耕農法"
      excerpt: '綜合播種較少病害的特性，並設計出分糵才有的長蔥白。利用科學化精準的肥培管理與充分利用水耕植物的特性，大幅減少種植時間至14週即可採收'
---
<main>
    <section>
        {% include feature_row id="intro_1" type="left" %}
    </section>
    <section>
        {% include feature_row id="how" type="right" %}
    </section>
</main>