---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

// footer bg color
$footer-background-color: #f3f6f6;

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.greedy-nav {
    .visible-links {
            li {
                padding: 0.2em;
                box-sizing: border-box;
                &:hover {
                    background-color: rgba(#000, 0.2);
                    border-radius: 5px;
                    transition: $global-transition;
                }
            }
            a::before { // remove transition effect
                height: 0px;
            }
    }
}

// alignment
.feature__item--right {
    p {
        text-align: justify;
    }
}

.landing--container { // for home page
    height: 100vh;
    background-position: center bottom 0px;
    background-repeat: no-repeat;
    .page__ {
        &hero--overlay {
            margin-bottom: 0;
            .wrapper {
                direction: rtl;
            }
        }
        &title{
            //writing-mode: vertical-lr;
        }
        &footer {
            margin-top: 0;
        }
    }
    .masthead {
        border-bottom: none;
        .greedy-nav {
            background-color: rgba(0,0,0,0)
        }
    }
}

.nav-btns {
    padding: 15px;
    margin: 0px auto;
    display: flex;
    gap: 0.2em;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

footer {
    display: flex;
    flex-wrap: wrap;
    color: #bfd9c3 !important; // override
    .page__footer-info {
            margin-left: auto;
            display: inline-flex;
            flex-wrap: wrap;
            .page__footer-logo {
                width:150px;
                img {
                    width: 150px;
                }
            }
            .page__footer-contact {
                font-size: $type-size-7;
                ul {
                    list-style-type: none;
                }
            }
    }
}